<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レストラン検索結果</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>検索結果</h1>
    <div class="container">
        <ul>
            <% restaurants.forEach(function(restaurant) { %>
                <li>
                    <h2><%= restaurant.name %></h2>
                    <p><%= restaurant.address %></p>
                    <img src="<%= restaurant.photo.pc.l %>" alt="<%= restaurant.name %>">
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
